* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body {
    background-color: rgb(152, 157, 218);
}
main {
    background-color: white;
    width: 588px;
    margin: auto;
    pading: 10px;
    box-shadow : 3px 3px 5px rgb(56, 55, 55);
}